body {
  font-family: "Playfair Display", serif;
  margin: 0;
}
.wrap {
  text-align: center;
}
.container {
  display: inline-block;
}
h1 {
  color: brown;
  font-weight: normal;
  text-align: center;
}

.box {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 20px 50px 0;
}
.wrap:hover .box {
  -webkit-transform: scale(2);
  -ms-ransform: scale(2);
  transform: scale(2);
}
.box1 {
  background: darkcyan;
  transition: 0.5s;
}
